In [1]:
import pandas as pd

## Data Loading

In [2]:
#Load data training, testing, and anime data
train_df = pd.read_csv('Data/train.csv')
anime_df = pd.read_csv('Data/anime.csv')
test_df = pd.read_csv('Data/test.csv')

In [3]:
#Display Training data
train_df.head()

   user_id  anime_id  rating
0        1     11617      10
1        1     11757      10
2        1     15451      10
3        2     11771      10
4        3        20       8

In [4]:
#Display Anime data
anime_df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
#Display Test data
test_df.head()

   user_id  anime_id
0    40763     21405
1    68791     10504
2    40487      1281
3    55290       165
4    72323     11111

**Data Cleaning**

In [16]:
# 1. Handling missing values
# Checking for missing values
print("\nMissing values in Anime Data")
print(anime_df.isnull().sum())

print("\nMissing values in Test Data")
print(test_df.isnull().sum())

print("\nMissing values in Train Data")
print(train_df.isnull().sum())

Missing values in Anime Data
anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

Missing values in Test Data
user_id     0
anime_id    0
dtype: int64

Missing values in Train Data
user_id     0
anime_id    0
rating      0
dtype: int64

In [17]:
# Filling or dropping missing values
# For simplicity, let's drop rows with any missing values
anime_df_cleaned = anime_df.dropna()
test_df_cleaned = test_df.dropna()
train_df_cleaned = train_df.dropna()

In [18]:
# 2. Checking for duplicates
print("\nDuplicates in Anime Data:", anime_df_cleaned.duplicated().sum())
print("Duplicates in Test Data:", test_df_cleaned.duplicated().sum())
print("Duplicates in Train Data:", train_df_cleaned.duplicated().sum())

# Dropping duplicates if any
anime_df_cleaned = anime_df_cleaned.drop_duplicates()
test_df_cleaned = test_df_cleaned.drop_duplicates()
train_df_cleaned = train_df_cleaned.drop_duplicates()

Duplicates in Anime Data: 0
Duplicates in Test Data: 0
Duplicates in Train Data: 1

In [19]:
# 3. Ensuring consistent data types
print("\nData types in Anime Data")
print(anime_df_cleaned.dtypes)

print("\nData types in Test Data")
print(test_df_cleaned.dtypes)

print("\nData types in Train Data")
print(train_df_cleaned.dtypes)

# Convert data types if necessary
# Assuming 'episodes' in anime_df should be numeric, convert if needed
anime_df_cleaned['episodes'] = pd.to_numeric(anime_df_cleaned['episodes'], errors='coerce')
anime_df_cleaned = anime_df_cleaned.dropna(subset=['episodes'])

# Display the cleaned data
print("\nCleaned Anime Data")
print(anime_df_cleaned.head())

print("\nCleaned Test Data")
print(test_df_cleaned.head())

print("\nCleaned Train Data")
print(train_df_cleaned.head())

Data types in Anime Data
anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

Data types in Test Data
user_id     int64
anime_id    int64
dtype: object

Data types in Train Data
user_id     int64
anime_id    int64
rating      int64
dtype: object

Cleaned Anime Data
   anime_id                              name  \
0     32281                    Kimi no Na wa.
1      5114  Fullmetal Alchemist: Brotherhood
2     28977                          Gintama°
3      9253                       Steins;Gate
4      9969                     Gintama&#039;

                                               genre   type  episodes  rating  \
0               Drama, Romance, School, Supernatural  Movie       1.0    9.37
1  Action, Adventure, Drama, Fantasy, Magic, Mili...     TV      64.0    9.26
2  Action, Comedy, Historical, Parody, Samurai, S...     TV      51.0    9.25
3                                   Sci-Fi, Thriller     TV      24.0    9.17
4  Action, Comedy, Historical, Parody, Samurai, S...     TV      51.0    9.16

   members
0   200630
1   793665
2   114262
3   673572
4   151266

Cleaned Test Data
   user_id  anime_id
0    40763     21405
1    68791     10504
2    40487      1281
3    55290       165
4    72323     11111

Cleaned Train Data
   user_id  anime_id  rating
0        1     11617      10
1        1     11757      10
2        1     15451      10
3        2     11771      10
4        3        20       8